DB_HOST=ep-silent-glitter-ahbl1onx-pooler.c-3.us-east-1.aws.neon.tech
DB_PORT=5432
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_xCrlZzm7uOb1
DB_NAME=neondb
PORT=5001
REDIS_URL=redis://localhost:6379

NODE_ENV=production

NODE_ENV_DEV=development